.ui.segment.header-all {
  padding: 0;
  background-color: rgba(19, 19, 19, 1);
  padding-left: 5.21%;
  padding-right: 5.21%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  font-size: 18px;
  line-height: 12px;
}

.ui.list.buttons-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.item {
  margin-left: 12px;
  margin-right: 12px;
}

.ui.list.buttons-block .item {
  padding: 0;
}

.ui.segment {
  border-radius: 0;
}

@media (max-width: 450px) {
  .ui.segment.header-all {
    flex-direction: column;
    align-items: center;
  }

  .ui.segment.header-all > p {
    padding-top: 20px;
    align-items: flex-start;
  }
}

a.ui.button.custom-button {
  margin-bottom: 23px;
  margin-top: 23px;
}
