.slogan {
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  font-size: 64px;
  line-height: 60px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 0;
  color: rgba(34, 34, 34, 1);
  background-color: rgba(243, 246, 250, 1);
  width: 544px;
  height: 274px;
}

.ui.segment.banner {
  background-color: rgba(243, 246, 250, 1);
  padding-left: 94px;
  display: flex;
  align-items: center;
}

@media (max-width: 732px) {
  .ui.segment.banner {
    padding-left: 0;
  }
}

@media (max-width: 544px) {
  .slogan {
    font-size: 40px;
  }
}
