@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.button-style .ui.primary.button {
  color: white;
  background: #353535;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border-radius: 24px;
  padding: 12px 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
