#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ui.segment.footer-all {
  flex-shrink: 0;
}

.ui.segment.header-all {
  flex-shrink: 0;
}

.ui.segment.banner {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
